



  <ion-header>
      <ion-navbar>
          <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
          <ion-searchbar ></ion-searchbar>

        <ion-buttons left>
          <button ion-button icon-only menuToggle>
            <ion-icon name='menu'></ion-icon>
          </button>
          
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only add (click)="openMenu()">
                <ion-icon name='add' >Report</ion-icon>
              </button>
        </ion-buttons>


       
      </ion-navbar>
    </ion-header>

<ion-content >


   

  <ion-list>
    <!-- <ion-card *ngFor="let item of itemList | async"> -->
        <ion-card *ngFor="let item of itemList | async ; let i = index"  
        detail-push navPush="CenterPage" [navParams]="{item:item}">
      <!-- <ion-avatar item-left> -->
        <!-- <img src="assets/imgs/items/{{i+1}}.jpg"  alt="avatar"> -->
        <h2 style="text-align: center"> {{ item.itemType }} Lost</h2>

      <!-- </ion-avatar> -->

            <!-- <h1> {{item.desc}}</h1> -->

          <p>
            {{item.desc}}
          </p>
    </ion-card>
  </ion-list>
</ion-content>

