


  
<ion-content >
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-buttons>
        <button navPush="FoundPage" ion-button>
          <ion-icon primary>Report found</ion-icon>
        </button>

      <button navPush="AddNotePage" ion-button>
        <ion-icon primary>Report loss</ion-icon>
      </button>
    </ion-buttons>


  <ion-list>
    <!-- <ion-card *ngFor="let item of itemList | async"> -->
        <ion-card *ngFor="let item of itemList | async ; let i = index"  
        detail-push navPush="ItemPage" [navParams]="{item:item}">
      <!-- <ion-avatar item-left> -->
        <img src="assets/imgs/items/{{i+1}}.jpg"  alt="avatar">
        <h2 style="text-align: center"> {{ item.itemType }} found</h2>

      <!-- </ion-avatar> -->

            <!-- <h1> {{item.desc}}</h1> -->

          <p>
            {{item.desc}}
          </p>
    </ion-card>
  </ion-list>
</ion-content>

