  <ion-header>
      <ion-navbar>
          <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
          <ion-searchbar ></ion-searchbar>

        <ion-buttons left>
          <button ion-button icon-only menuToggle>
            <ion-icon name='menu'></ion-icon>
          </button>
          
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only add (click)="openMenu()">
                <ion-icon name='add'>Report</ion-icon>
              </button>
        </ion-buttons>
      </ion-navbar>

        <ion-segment [(ngModel)]="Lost_and_Found">
          <ion-segment-button   value="Lost">
            <ion-icon name="sad"></ion-icon>Lost items
              
          </ion-segment-button>
          <ion-segment-button value="found">
              <ion-icon name="megaphone"> </ion-icon>Found items

            
          </ion-segment-button>
        </ion-segment>
    </ion-header>


<ion-content >
    <div [ngSwitch]="Lost_and_Found">

        <ion-list *ngSwitchCase="'Lost'">  
            <ion-item-group>
              
            <ion-item *ngFor="let item of itemList | async ; let i = index"  
            detail-push navPush="CenterPage" [navParams]="{item:item}">
      
              <h1> {{ item.itemType }}</h1>
              
                {{item.desc}}
            </ion-item> 
          </ion-item-group>

        </ion-list>

        <ion-list *ngSwitchCase="'found'">
            <ion-item class='found' *ngFor="let item of itemList | async ; let i = index"  
            detail-push navPush="CenterPage" [navParams]="{item:item}">
            
            <ion-thumbnail item-start>
                <img src ="assets/imgs/logo.png" alt="logo">
              </ion-thumbnail>
              <h2 > {{ item.itemType }} found</h2>
              <p>
                {{item.desc}}
              </p>
              <button ion-button clear item-end>Detail</button>

            </ion-item>
        </ion-list>
      </div>
 
</ion-content>

