

<img src ="assets/imgs/logo.png" alt="logo">

<ion-list class="inputs">
	<ion-item>
		<ion-label >Email</ion-label>
		<ion-input [(ngModel)]="account.email"  type="email"></ion-input>
	</ion-item>
	
	<ion-item>
		<ion-label >Password</ion-label>
		<ion-input [(ngModel)]="account.password"  type="password"></ion-input>
	</ion-item>
	<span (click)="navigateToPage('ForgotPage')" style="color:blue" >Forgot Password?</span>
	
		<button (click)="login()" class="signIn" ion-button round block newcolor> Sign In </button>
	</ion-list>
	<p class="bottom">Don't have an account? <span (click)="navigateToPage('RegisterPage')" style="color:blue">Create one</span></p>
	<p class="bottom">View Items without Log in <span (click)="navigateToPage('ItemPage')" style="color:blue">Click here </span></p>
