<div class="profile-view__image-container">
    <img class="profile=view__image" src ="assets/imgs/avatars/halloween.png" alt="logo">

</div>
<div *ngIf="userProfile">
  <ion-card>
    <ion-card-content>
      <ion-item >
          <ion-label floating>Name</ion-label>
          <ion-input [value]="userProfile.displayName" [readonly]=""></ion-input>
      </ion-item>
      <ion-item >
          <ion-label floating> Email </ion-label>
          <ion-input [value]="userProfile.email" [readonly]=""></ion-input>
      </ion-item>
        <ion-item >
            <ion-label floating> Phone Number </ion-label>
            <ion-input [value]="userProfile.phoneNumber" [readonly]=""></ion-input>
        </ion-item>

        <button ion-button (click)="editProfile()" color="secondary">Edit Profile</button>

      </ion-card-content>
    </ion-card>

</div>