<!-- Generated template for the RegisterFormComponent component -->
<!-- <ion-item><ion-label floating>First Name</ion-label><ion-input  type="first name"></ion-input></ion-item>  
<ion-item><ion-label floating>Last Name</ion-label><ion-input type="last name"></ion-input> </ion-item>
<ion-item><ion-label floating>Phone Number</ion-label><ion-input  type="phone number"></ion-input></ion-item>   -->



<ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="account.email" type="email"></ion-input>
 </ion-item>
<ion-item>
  <ion-label floating>Password</ion-label>
  <ion-input [(ngModel)]="account.password"  type="password"></ion-input>
</ion-item>

<p>
  Do you agree to everything? 
</p>

<div>
  <button ion-button (click)="register()" color="secondary">Register</button>
  <button ion-button (click)="cancel('RegisterPage')" >Cancel</button>

</div>